@import url('https://fonts.googleapis.com/css?family=Audiowide|Josefin+Sans:100|Rambla&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    color:#283655 !important ;
    background-color: #f7faff !important;
    font-family:'Rambla', sans-serif ;
}
h2 , h3 {
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}
li {
    list-style-type: none;
}

/* ------------------ HEADER -----------------------*/

.navbar {
    background-color: #FAFAFA;
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;
}
.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
   /* justify-content: space-between ; */
}
header {
    text-align: center;
    /* height: 100vh; */
    background: url(media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}
h1 {
    padding: 90px 0 10px 0;
    font-family: josefin sans  ,sans-serif;
    font-size: 4.3em;
    text-transform: uppercase;
}
#line {
    height: 1px;
    background-color: #b3aca7;
    width: 25%;
    margin: 0 auto ;
}
h2 {
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}
.presentation {
    height: 240px;
    margin-top: 20px;
}
.infos {
  border: 1px solid #b3aca7;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.photo {
    border: 1px solid #b3aca7;
    position: relative;
    /* left:50%; */
    
}
.photo img {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-width: 70%;
    border-radius: 3px;
    box-shadow: 0 0 4px #111;
}
.button {
    margin-top: 100px;
}
header .button {
    margin-top: 20px 100px;
}
header .button a {
    padding: 20px 80px;
    border: 1px solid #b3aca7;
    width: 300px;
}
header .button:hover a {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/* ------------------ LANGAGES -----------------------*/

#langages {
    padding: 80px 80px 80px 50px;
    margin: 60px 0 0 6%;
    height: 650px;
    width: 40%;
    max-width: 640px;
    background: linear-gradient(164deg,#f12711 0%, rgba(241,39,17,0.35) 80%);
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0 100%);
}
#langages .bar {
    padding: 7px 0 20px 0;
    letter-spacing: 0.5em;
}

/* ------------------ FORMATION -----------------------*/

#formation {
    position: relative;
    top : -200px;
    float: right;
    margin-right: 5%;
    padding: 90px 20px 60px 60px;
    /* width: 20px; */
    max-width: 630px;
    background: linear-gradient(19deg, rgba(0,180,219,0.69) 0%, #0083b0 80%);
    clip-path: polygon(0 3%, 100% 13%, 100% 100%, 0% 100%);
}
#école {
    padding-top: 20px;
}
#OCR{
    padding: 50px 0 0 15%;
}
#KA{
    padding: 50px 0 0 30%;
}
#formation h4 {
    font-weight: bold;
    letter-spacing: 0.10em;
    padding-bottom: 10px;
    color: #005978;
    text-shadow: -1px -1px 1px #35B4D5;
}
.counter {
    display: flex;
    text-align: center;
}
.data {
    border: 1px solid #35B4D5;
    width: 170px;
    margin: 0 4%;
    box-shadow: 0 0 8px #1C9DC4;
    padding: 5px 20px;
}
.counter-value {
    font-size: 2em;
}
.data-span {
    font-size: 1.8em;
}

/* ------------------ PARCOURS ----------------------*/

#parcours {
    max-width: 800px;
    margin: 640px auto 180px auto;
    padding: 40px 30px 100px 30px;
    background: url(./media/parcours.jpg) no-repeat fixed 50px 50px;
    background-size: cover;
    border-radius: 8px;
    box-shadow: -1px -1px 8px #283655;
}
#parcours h3 {
    font-size: 2.5em;
    padding-bottom: 30px;
}
#parcours h4 {
    font-size: 1.6em;
    color:#ff4e50; 
    margin-left: 20px;
}
#parcours h6 {
    font-style: italic;
    color: #edca21;
    margin-left: 20px;
}
#parcours p {
    line-height: 1.9em;
}
.timeline {
    border-top: 3px solid;
    border-image: linear-gradient(to right,#f9d423, #ff4e50);
    border-image-slice: 1;
    margin: 0;
    padding: 40px;
    position:relative;
}
.timeline:nth-child(1)::after {
    content: \0025B2;
}
.timeline:nth-child(1) {
    border-bottom: 3px solid;
    border-top: none;
    width: 95%;
}
.timeline:nth-child(2) {
    border-bottom: 3px solid;
    border-top: none;
    width: 90%;
}
.timeline:nth-child(3) {
    border-bottom: 3px solid;
    border-top: none;
    width: 90%;
}
.timeline:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}
.timeline:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}
.button2 {
    margin-top: 100px;
    margin-left: 40%;
    margin-bottom: 200px;
}
.button2 a {
    padding: 20px 80px;
    border: 1px solid #b3aca7;
    width: 300px;
}
.button2:hover a {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/* ------------------ Autres Compétences ----------------------*/

#other-skills {
    margin-top: 70px;
    padding: 50px 100px 100px 100px;
    width: 100%;
    background-color: #375E97;
    clip-path: polygon(0 11%,100% 0%,100% 100%,0 84%);
}
#other-skills h3 {
    transform: rotate(-3.2deg);
    font-size: 3em;
    padding-top: 30px;
    text-shadow: -1px 1px 0px maroon;
    color: #ffbb00;
}
.cloud {
    text-align: center;
    padding: 50px 0;
    font-size:2em;
    text-transform: uppercase;
}

/* ------------------ HOBBIES----------------------*/

#hobbies {
    padding: 250px 50px 100px 50px;
    margin: -300px 0 -90px 0;
    clip-path: polygon(0 21%, 100% 31%, 100% 95%,0% 100%);
    background: #FFBB00;
}
#hobbies h3 {
    transform: rotate(4.2deg);
    font-size: 3em;
    text-shadow: -1px 1px 0px #375E97;
}
.pictures {
    display: flex;
    justify-content: center;
}
.flip-box-back div {
    margin: 0 auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.flip-box-back p {
    text-transform: uppercase;
    padding: 10px;
    font-size-adjust: auto;
}
.flip-box-back {
    color:white;
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-box {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    perspective: 1000px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* ------------------ FOOTER----------------------*/

footer {
    background: url(./media/footer.jpg) 50% 0% no-repeat fixed;
    background-size: cover;
    text-align: center;
    padding: 160px 50px 5 50px;
}
footer h3 {
    padding: 0 0 60px 0;
    font-size: 2.5em;
}
.footer-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
}
.network {
    font-size: 20em;
    border: 1px solid #B3ACA7;
    padding: 30px 45px;
    color: #726659;
    z-index: -1 !important;
    border-radius: 50%;
}
.network:hover {
    background: #b3aca7;
}
.form-containe {
    padding-top: 20px;
}
#reused_form {
    position: relative;
    margin: 50px auto;
}
input {
    font-size: 0.85em;
    width: 470px;
    height: 50px;
    padding: 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3ACA7;
    border-bottom: none;
}
textarea {
    width: 470px;
    height: 110px;
    max-height: 110px;
    padding:15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #B3ACA7;
    resize: none
}

.arrow {
    margin: -20 auto;
    padding-top: 15px;
    animation: arrow linear 1.5s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    38% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY();
    }
}
.arrow a {
    font-size: 3em;
    border: none;
    color:#726659;
}
.arrow:hover i {
    transform: scale(1.6);
    transition: 0.5s ease-in-out;
    color:#726659;
}
footer p {
    font-size: 0.9em;
    letter-spacing: 0.5em;
}